.container {
  display: column;
  align-items: center;
  justify-content: center;
}

.gifContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.selectGif:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.footerMessage {
  font-size: 10px;
  padding: 3rem;
  text-align: center;
}
