@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {
  --color-blue: #83afac;
  --color-brown: #774f38;
  --color-yellow: #f9f5ad;
  --color-button: #6b86855e;
  --color-button-hover: #5a71705e;
  --color-button-active: #83afac9b;
  --color-navy: #0e2431;

  --poppins: 'Poppins', sans-serif;
  --baloo: 'Baloo 2', cursive;
  --bitter: 'Bitter', serif;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

a:visited {
  color: inherit;
}

body {
  background: radial-gradient(circle, var(--color-yellow) 0%, var(--color-blue) 100%);
}

html {
  font-family: var(--baloo);
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-navy);
}

button {
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: white;
  background-color: var(--color-button);
  font-family: var(--baloo);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

button:focus {
  background-color: var(--color-button-active);
}

.blurb {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  padding: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.blurb:after {
  animation: float2 3s ease-in-out infinite;
  content: ".";
  font-size: 90px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 15px;
  margin-left: 10px;
  border-radius: 11px;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translateY(0px);
  }

  55% {
    transform: translateY(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translateY(0px);
  }
}