.container {
  display: column;
  align-items: center;
  justify-content: center;
}

.gifContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.selectGif:hover {
  cursor: pointer;
}

.blurb {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  padding: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.blurb:after {
  animation: float2 3s ease-in-out infinite;
  content: ".";
  font-size: 90px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 11px;
  width: 50px;
  height: 15px;
  margin-left: 10px;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.footerMessage {
  font-size: 10px;
  padding: 3rem;
  text-align: center;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translateY(0px);
  }

  55% {
    transform: translateY(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translateY(0px);
  }
}