@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {
  --color-blue: #83afac;
  --color-green: #c8c8a9;
  --color-brown: #774f38;
  --color-beige: #ece5ce;
  --color-yellow: #f9f5ad;
  --color-pink: #ea7c91;
  --color-button: #6b86855e;
  --color-button-hover: #5a71705e;
  --color-button-active: #83afac9b;

  --poppins: 'Poppins', sans-serif;
  --baloo: 'Baloo 2', cursive;
  --bitter: 'Bitter', serif;
}


body {
  /* Replace the radial-gradient with appropriate color stops */
  background: radial-gradient(circle, var(--color-yellow) 0%, var(--color-blue) 100%);
}

html {
  font-family: var(--baloo);
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-brown);
}

button {
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: white;
  background-color: var(--color-button);
  font-family: var(--baloo);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

button:focus {
  background-color: var(--color-button-active);
}
