.gifBoundary {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.responsiveGif {
  position: relative;
  width: 25%;
  height: 25%;
}

.responsiveGif img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  object-position: center center;
}

.buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1000px){
  .responsiveGif {
    width: 27%;
    height: 27%;
  }
}

@media (min-width: 1100px){
  .responsiveGif {
    width: 28%;
    height: 28%;
  }
}

@media (min-width: 1200px){
  .responsiveGif {
    width: 29%;
    height: 29%;
  }
}

@media (min-width: 1300px){
  .responsiveGif {
    width: 30%;
    height: 30%;
  }
}