.container {
  display: column;
  align-items: center;
  justify-content: center;
}

.gifContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.blurb {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-brown);
  padding: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.blurb:after {
  animation: float2 3s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 11px;
  width: 50px;
  height: 15px;
  margin-left: 10px;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  55% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

.blurb {
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: var(--color-brown);
  padding: 3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.blurb:after {
  animation: float2 3s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 11px;
  width: 50px;
  height: 15px;
  margin-left: 10px;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  55% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.button {
  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: white;
  background-color: var(--color-button);
  font-family: var(--baloo);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.button:hover {
  background-color: var(--color-button-hover);
}

.button:focus {
  background-color: var(--color-button-active);
}

.footerMessage {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 10px;
  color: var(--color-brown);
  padding: 3rem;
}